# ============================================
# GLOBAL IGNORE
# ============================================

# Node modules (jangan upload library)
backend/node_modules/
frontend/node_modules/
node_modules/

# Environment files — sangat sensitif
backend/.env
frontend/.env
.env

# Log files
*.log

# Sistem file cache
.DS_Store
Thumbs.db

# VSCode
.vscode/

# ============================================
# BACKEND
# ============================================

# Upload folder (jika ada)
backend/src/uploads/

# ============================================
# FRONTEND
# ============================================

# React build output
frontend/dist/
frontend/build/

# React Router cache
frontend/.react-router/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
