.auth-btn {
  width: 100%;                /* biar tombol full width */
  padding: 12px;
  background: #1db954;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 10px;
}

.auth-btn:hover {
  background: #1ed760;
}
