.dashboard-container {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #121212;
  color: white;
}

.dashboard-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.dashboard-content {
  padding: 24px;
}
