.dashboard-container {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: #121212;
  color: white;
}

.dashboard-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.dashboard-content {
  padding: 20px;
  color: white;

  /* PLAYER SPACE */
  padding-bottom: 120px;
}

.dashboard-content {
  padding: 20px;
  color: white;
}

.section-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

/* GRID SONG CARD */
.song-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 20px;
}

.song-card {
  background: #181818;
  padding: 15px;
  border-radius: 8px;
  transition: 0.2s;
  cursor: pointer;
}

.song-card:hover {
  background: #282828;
  transform: translateY(-4px);
}

.song-cover {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 6px;
}

.song-info {
  margin-top: 10px;
}

.song-title {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  color: #fff;
}

.song-artist {
  font-size: 12px;
  color: #b3b3b3;
  margin: 2px 0 0;
}
