/* Playlist Page */
.playlist-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh - var(--footer-height));
  background-color: #121212; /* background gelap */
  color: white;
  padding-bottom: 20px;
}

/* Playlist Content (cover + info) */
.playlist-content {
  display: flex;
  flex-direction: row;
  padding: 30px 20px 0 20px;
  gap: 20px;
}

/* Cover Playlist */
.playlist-cover img {
  width: 250px;
  height: 250px;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.6);
}

/* Playlist Info */
.playlist-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.playlist-public {
  font-size: 12px;
  font-weight: 600;
  color: #b3b3b3;
  margin-bottom: 10px;
}

.playlist-title {
  font-size: 64px;
  font-weight: 800;
  margin-bottom: 20px;
  line-height: 1.1;
}

.playlist-description {
  font-size: 16px;
  font-weight: 400;
  color: #b3b3b3;
  margin-bottom: 20px;
}

/* Playlist Stats */
.playlist-stats {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 12px;
  color: #b3b3b3;
}

.playlist-stats img {
  border-radius: 50%;
  margin-right: 5px;
}

/* Songs Container */
.playlist-songs-container {
  margin-top: 40px;
  padding: 20px;
  background: linear-gradient(
    180deg,
    rgba(30,30,30,1) 0%,
    rgba(18,18,18,1) 100%
  );
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* Playlist Songs Table */
.playlist-songs table {
  width: 100%;
  border-collapse: collapse;
}

.playlist-songs table th,
.playlist-songs table td {
  padding: 12px 10px;
  color: #b3b3b3;
  font-size: 14px;
}

.playlist-songs table th {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: left;
  border-bottom: 1px solid #333;
}

.playlist-songs table td:first-child {
  width: 30px;
}

.song-title {
  display: flex;
  align-items: center;
  gap: 12px;
}

.song-image img {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  object-fit: cover;
}

.song-name-album {
  display: flex;
  flex-direction: column;
}

.song-name {
  font-size: 14px;
  font-weight: 500;
  color: white;
}

.song-artist,
.song-album,
.song-date-added,
.song-duration {
  font-size: 12px;
  color: #b3b3b3;
  margin-top: 4px;
}
