.sidebar {
  width: 250px;
  height: 100vh;
  background: #000;
  color: #fff;
  padding: 24px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.sidebar-header {
  justify-content: space-between;
  align-items: center;
  display:flex;
}

.sidebar-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 10px 10px;
  text-decoration: none;
  color: #b3b3b3;
  border-radius: 6px;
  transition: 0.2s ease;
  font-size: 16px;
}

.menu-item:hover {
  background: #1a1a1a;
  color: white;
}

.menu-icon {
  font-size: 20px;
}
