/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

/* Global background */
body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background: #121212; 
  color: white;
}
